<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dropbox</title>
    <script src="http://developers.kakao.com/sdk/js/kakao.min.js">
    </script>
</head>
<body>
<h1>Dropbox</h1>
<li><a href="/auth/login/kakao" >Login using Kakao</a></li>
<li><a href="/login" >Login</a></li>
<li><a href="/register" >Register</a></li>


</body>
</html>